input::-webkit-inner-spin-button {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

html {
  background: url(bg/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  margin-bottom: 20px;
}

body {
  background-color: transparent;
}

.navbar {
  background-color: rgba(0, 0, 0, .5);
}

.navbar li a {
  color: white;
}

.navbar .navbar-brand {
  color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: inherit;
  color: rgb(255, 206, 99);
}

.navbar-nav a.active {
  background-color: rgba(0, 0, 0, .5) !important;
  font-weight: bold;
}

a, a:hover, a:focus {
  color: rgb(255, 206, 99);
}

.content {
  background-color: rgba(0, 0, 0, .7);
  padding-bottom: 10px;
}

.inline {
  display: inline;
}

.error-msg {
  color: rgb(255, 83, 83);
  font-weight: bold;
}

.error {
  border: solid 3px red;
}